trajectories/*
wandb
/Users/alextang/Documents/EmergeLab/ai-car-preference-learning/wandb/*
/preference_venv
storage/*
test.py
scratch.py
ai_dev/
aider.sh
*.zip
environments/pref_learning

__pycache__
best_model*
best_model.pth
best.pth
figures/*
test.py
archive
*.pth
zips/*
